sudo: true
language: python

jobs:
  include:
    - python: "3.12"
      env: TOXENV=py312 RUN_INTEGRATION_TESTS=0
    - python: "3.12"
      env: TOXENV=py312 RUN_INTEGRATION_TESTS=1
    - python: "3.12"
      env: TOXENV=py312 RUN_INTEGRATION_TESTS=2
    - python: "3.13"
      env: TOXENV=py313 RUN_INTEGRATION_TESTS=0
    - python: "3.13"
      env: TOXENV=py313 RUN_INTEGRATION_TESTS=1
    - python: "3.13"
      env: TOXENV=py313 RUN_INTEGRATION_TESTS=2
    - python: "3.14"
      env: TOXENV=py314 RUN_INTEGRATION_TESTS=0
    - python: "3.14"
      env: TOXENV=py314 RUN_INTEGRATION_TESTS=1
    - python: "3.14"
      env: TOXENV=py314 RUN_INTEGRATION_TESTS=2
    - python: "3.12"
      env: TOXENV=pep8 RUN_INTEGRATION_TESTS=0
    - python: "3.12"
      env: TOXENV=bandit RUN_INTEGRATION_TESTS=0
    - python: "3.12"
      env: TOXENV=docs RUN_INTEGRATION_TESTS=0

install:
  - pip install tox
  - pip install bandit
  - pip install codecov
  - pip install slugs
  - python setup.py install

script:
  - ./.travis/run.sh

after_success:
  - codecov

after_failure:
  - if [ -f "/tmp/pykmip/server.log" ]; then cat /tmp/pykmip/server.log; fi
  - if [ -f "/tmp/slugs/access.log"  ]; then cat /tmp/slugs/access.log;  fi
  - if [ -f "/tmp/slugs/error.log"   ]; then cat /tmp/slugs/error.log;   fi
